.main-content {
    width: 800px;
    margin: 0 auto;
}

.question {
    justify-content: space-between;
    border: solid #17a2b8;
    border-width: 1px;
    border-radius: 5px;
    padding: 15px 0;
    margin: 10px 0;
}