.poll-card {
  margin: 20px;
  width: 18em;
}

.row {
  margin: 0;
}

.card-content {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.pass-btn {
  width: 150px;
  align-self: center;
  color: white;
  background-color: rgba(23, 163, 184, 0.466);
}

.card-text {
  overflow: hidden;
}
@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 4;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 4;
  }
}
