.poll-card {
  margin: 20px;
  width: 18em;
  padding: 2px;
  min-height: 130px;
  opacity: 0.8;
}

.poll-card:hover {
  opacity: 1;
}

.poll-card:hover .pass-btn {
  opacity: 1;
}

.row {
  margin: 0;
}

.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.pass-btn {
  width: 150px;
  align-self: center;
  color: white;
  background-color: rgba(23, 163, 184, 0.466);
  position: absolute;
  bottom: 10px;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.card-text {
  overflow: hidden;
  margin: 5px 0 5px 0;
  display: block;
  max-height: 70%;
  color: rgba(206, 206, 206, 0.877);
}

.card-title {
  font-weight: bold;
  letter-spacing: 2px;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 4;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 4;
  }
}
