.navbar-title {
    letter-spacing: 0.1cm;
    /* text-decoration: overline;
    font-style: italic; */
}

.login-link {
    color: white
}

.nav-link {
    color: rgba(255, 255, 255, 0.5);
}
.navbar{
    box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.473);
}