.add-btn {
    border-radius: 50%;
    width: 38px;
    position: absolute;
    bottom: 0;
    right: 15px;
}

.question-title {
    margin-bottom: 5px;
}

.choice {
    margin-bottom: 5px;
}

.question-form {
    border: solid #17a2b8;
    border-width: 1px;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
}

.question-form-create{
    @extend .question-form;
}

.question-form-edit{
    border-color: aliceblue;
    background-color: rgba(146, 220, 233, 0.432);
    @extend .question-form;
}