.poll-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    margin-top: -10px;
}

.poll-shadow {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    height: 100px;
}

.poll-title {
    padding: 10px 0 0 5px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 25px;
    font-family: 'Staatliches', cursive;
}

.poll-desc {
    padding: 5px;
    min-height: 50px;
}

.poll-creator {
    padding-left: 5px;
    font-size: 20px;
}